

    <!-- Create Hero Section -->
    <section class="hero py-16">
            <!-- Create container div to provide auto margin or align thing in a center -->
        <div class="container mx-auto flex items-center justify-between">
            <div class="w-full md:w-1/2"> <!-- divide both section into two equal parts -->
                <h6 class="text-sm md:text-lg"><em>Are you hungry ?</em></h6>
                <h1 class="text-3xl md:text-6xl font-bold">Don't Wait !</h1>
                <button class="px-6 py-2 mt-4 rounded-full font-bold text-white btn-primary"><a href="#">Order now</a></button>
            </div>
            <div class="w-1/2">
                <img src="/img/hero-pizza.png" alt="hero">
            </div>
        </div>
    </section><!-- Hero Section Ends -->

    <!-- menu Section -->
    <section class="menu container mx-auto py-8">
            <!-- Create Title-->
        <h1 class="text-xl font-bold mb-8">All Pizzas</h1>

        <!-- Create Menu -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-12 gap-y-16"> <!-- Menu item Warapper -->

            <!-- Apply ejs scriptlet tag to iterate all pizzas variable comes from index routes -->
            <%  pizzas.forEach(pizza => { 
                if(!pizza.mrp) {
            %>        
            <div class="w-full md:w-64">
                <img class=" h-40 mb-4 mx-auto" src="/img/<%= pizza.image %>" alt="">
                <div class="text-center">
                    <h2 class="mb-4 text-lg"><%= pizza.name %></h2>
                    <span class="size py-1 px-4 block rounded-full uppercase text-xs"><%= pizza.size %></span>
                    <!-- <span class=" py-2 px-4 block rounded-full uppercase text-xs"><del><%= !pizza.mrp ? '-' : "$"+pizza.mrp %></del></span> -->
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">$<%= pizza.price %></span>
                        <button data-pizza = "<%= JSON.stringify(pizza) %>" class="add-to-cart  py-1 px-6 rounded-full flex items-center font-bold">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>

        <% }
          }) %><!-- End of forEach-->

        </div>

    </section>



    <%- include('components/foodCard', {pizzas}); %>
    <%- include('components/shopInfo'); %>



    
   